@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Varela&display=swap');

/* Reset */ 

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  font-family: Varela;
}

:root.light-mode{

}

:root{
  --color: #161616;
  --background-color-area: #559DB4;
  --backgound-color-area-contact: #E6EBF7;
  --background-color-area-icons: #5D6D9D;
}

a{
  color: black;
}

/* Scroll */


/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 10px #BFDEE8;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #559DB4;
  border-radius: 10px;
  border: 2px solid #BFDEE8; 
}

/* Header */

.header-box{
  display: flex;
}

.header-box div{
  flex: 1;
}

.header-left-box{
  display: flex;
}

.header-left-box div:nth-child(1){
  background-color: #559DB4;
}

.header-left-box div:nth-child(2){
  background-color: #559DB4;
}

.bars-left-box{
  position: relative;
    overflow: hidden;
}

.bars-left-box span:nth-child(odd){
  position: absolute;
  background-color: #559DB4;
  left: -4.1rem;
  bottom: -3rem;
  width: 230px;
  height: 100px;
  transform: rotate(45deg)
}

.header-center-box{
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-center-box nav ul{
  display: flex;
  gap: 1rem;
}

.header-right-box{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.logo{
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.logo span:nth-child(1){
  width: 50px;
  height: 50px;
  position: absolute;
  border-radius: 50%;
  top: 0;
}

.logo span:nth-child(2){
  width: 50px;
  height: 50px;
  position: absolute;
  right: 0;
  border-radius: 50%;
}

.logo span:nth-child(3){
  width: 50px;
  height: 50px;
  position: absolute;
  bottom: 0;
  border-radius: 50%;
}

.header-right-box > a:nth-child(2), button{
   background-color: #559DB4;
}

.header-right-box > a:nth-child(2){
  width: 150px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
}

.header-right-box > button{
  border: none;
  width: 50px;
  height: 50px;
  border-radius: 5px;
}

.header-right-box > button i{
  font-size: 1.5rem;
}

/* Banner */


.banner-box{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  height: auto;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}

.banner-left-box h1{
  font-size: 3rem;
}

.banner-left-box h1, h4, span{
  font-weight: normal;
  font-family: Roboto;
  width: 100%;
}

.banner-left-box h4{
  margin-bottom: 3rem;
} 

.medicArea{
  background-image: url(../public/medicBackground.png);
  background-size: 500px;
  background-repeat: no-repeat;
  background-position: bottom center;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: 1200px){
  .medicArea{
    background-size: 100%;
  }
}

.medicArea img{
  max-width: 100%;
  height: 100%;
}

.banner-box div:nth-child(1){
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: .5rem
}

.banner-right-box{
  width: 100%;
}

.banner-right-box h4{
  display: flex;
  align-items: center;
}

.banner-right-box span{
  transform: translaterY(1px);
  margin-left: .2rem;
}

.banner-right-box button, h4{
  margin-bottom: .5rem;
}

.banner-right-box button{
  border: none;
  padding: 1rem;
  border-radius: 5px;
  cursor: pointer;
}

.block-box-left{
  width: 700px;
  padding: 1rem;
}

.banner-right-box .fas{
  font-size: 1.6rem;
}

.banner-bottom-box{
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Varela;
}

.banner-bottom-box h1{
  font-weight: normal;
  text-align: center;
  font-size: 3rem;
}


